<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>


    <!-- https://github.com/urish/angular-moment -->
    <script src="lib/moment/moment.js"></script>
    <script src="lib/angular-moment/angular-moment.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="reddit" ng-controller='reddit-controller'>

    <ion-pane>
      <ion-header-bar class="bar-positive">
      <!-- <ion-header-bar class="bar-balanced"> -->
       <!-- <ion-header-bar class="bar-calm"> -->
      <!-- <ion-header-bar class="bar-energized"> -->
        <h1 class="title">Reddit Starter</h1>
       
        <!-- Mustache -->
      </ion-header-bar>
      <ion-content>
      <!-- ionic css componentes
      http://ionicframework.com/docs/components/ -->


          <!-- https://www.reddit.com/dev/api/ -->
          <!-- Infinite Scroll? -->
          <!-- Use reddit json name and before/after parameter-->
          <!-- After means stories at the Bottom for infinite scroll we need after -->
          <!-- Before means stories at the TOP! for pull to refresh we need before -->
          <!-- Example https://www.reddit.com/r/Android/new/.json?before=t3_5e9urn -->
          <!-- http://ionicframework.com/docs/api/directive/ionInfiniteScroll/ -->

          <!-- http://ionicframework.com/docs/api/directive/ionRefresher/ -->

         <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
          </ion-refresher>

          <div class="list">
          <!-- item-avatar-left
          item-thumbnail-right -->
            <a class="item item-thumbnail-left" ng-click='openLink(story.url)' ng-repeat='story in stories'>
              <img ng-src="{{story.thumbnail}}" />
             <h2>{{story.title}}</h2>
             <p> 
             <span am-time-ago="{{story.created_utc}} | amFromUnix"></span> - {{story.domain}}</p>
            </a>
          </div>
           <ion-infinite-scroll on-infinite="loadMore()" distance="1%">
           </ion-infinite-scroll>
      </ion-content>
    </ion-pane>
  </body>
</html>
